<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ftss.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>ftss.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ftss</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ftss</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FTSSConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:hf16xhevgr.database.windows.net,1433;Initial Catalog=FTSS;Integrated Security=False;User ID=ddvsqluser@hf16xhevgr;Password=Ddv123456;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:hf16xhevgr.database.windows.net,1433;Initial Catalog=FTSS;Integrated Security=False;User ID=ddvsqluser@hf16xhevgr;Password=Ddv123456;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FTSSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:hf16xhevgr.database.windows.net,1433;Database=FTSS;User ID=ddvsqluser@hf16xhevgr;Password=Ddv123456;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FTSSConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hf16xhevgr.database.windows.net,1433;Initial Catalog=FTSS;Integrated Security=False;User ID=ddvsqluser@hf16xhevgr;Password=Ddv123456;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>